.Item-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
  .item-image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
  }
  .list-group-item {
    padding: .25rem;
    .term{
      margin-right: .5rem;
    }
  }
}
 